.power6 {
    fill: #d73027;
}

.power5 {
    fill: #fc8d59;
}

.power4 {
    fill: #fee08b;
}

.power3 {
    fill: #91cf60;
}

.power2 {
    fill: #4575b4;
}

.power1 {
    fill: #313695;
}

.tooltip {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 220px;

    background: white;
    border: 2px solid #444;
    border-radius: 10px;

    padding: 12px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    font-size: 15px;
}

.tooltip h3 {
    margin: 0 0 8px;
}

.tooltip p {
    margin: 4px 0;
}

.graph-container {
    position: relative;
}

.legend {
    position: absolute;
    top: 20px;
    left: 20px;

    background: white;
    padding: 10px;

}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
    cursor: pointer;

}

.legend-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    flex-shrink: 0;
    transition: transform 0.25s ease;
}



.legend-color.power6 {
    background: #d73027;
}

.legend-color.power5 {
    background: #fc8d59;
}

.legend-color.power4 {
    background: #fee08b;
}

.legend-color.power3 {
    background: #91cf60;
}

.legend-color.power2 {
    background: #4575b4;
}

.legend-color.power1 {
    background: #313695;
}